body {
	background-image: url(img/img4.jpg!d);
}

input{
	color: #2F4F4F
	padding: 15px;
	margin: 15px;
	border: 1px solid#00BFFF
	border-radius:100px;
	opacity: 0.9;
	box-shadow: 10px 10px 10px #DC143C
}
h1{
	
	color: #FFE4E1
	padding: 15px;
	margin: 15px;
	border: 1px solid#00BFFF
	border-radius:100px;
	opacity: 0.9;
	box-shadow: 10px 10px 10px #008080
	
}
h2{
	
	color: #FFE4E1
	padding: 15px;
	margin: 15px;
	border: 1px solid#00BFFF
	border-radius:100px;
	opacity: 0.9;
	box-shadow: 10px 10px 10px #DC143C
	
}



body{
	color: #FFE4E1
	padding: 15px;
	margin: 15px;
	border: 5px solid#00BFFF
	border-radius:100px;
	opacity: 0.9;
	box-shadow: 10px 10px 10px #008080
}
